*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #202124;
    width: 100%;
    position: fixed;
    padding: 5px;
    z-index: 1;
}

body{
    background-image: url('https://i.stack.imgur.com/E810h.png') ;
    height: 2000px;
}


.chatbutton{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: fixed;
    top: 90%;
    left: 95%;
    background-color: green;
}
  